<!-- <h2>Add a song!</h2> -->

<h2><a href="/songs/new">Add a song!</a></h2>

<h5><a href="/users/register">(Register for an account</a> or <a href="/users/login">log in)</h5>

<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.song_title %> <small>(by: <%= song.author %>)</small></a></h3>
    <h5><form method="post" action="/songs/votes/<%= song.id %>"><input type="hidden" name="song_id" value="<%= song.id %>"><input type="submit" value="Vote"></form>  total votes: <%= song.votes %></h5>
    <p> <%= song.url %></p>
  </div>
<% end %>
